<!DOCTYPE html>
<html lang="ko">
   <head>
      <%- include('../partials/head') %>
   </head>
   <body>
      <%- include('../partials/nav') %>
      <div class="container mb-3">
         <div class="col-md-8">
            <h4>Article</h4>
            <p>다양한 여러의견들이 제안되고 논의되는 <strong>자유롭고 건강한 공간</strong></pclass=>
         </div>
         
         <!-- <nav aria-label="breadcrumb">
         <ol class="breadcrumb p-1 pl-2 pr-2">
            <li class="breadcrumb-item"><a href="/">Main</a></li>
            <li class="breadcrumb-item"><a href="/articles">Board</a></li>
            <li class="breadcrumb-item"><a href="/articles/<%= article._id %>"><%= article.title %></a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Article</li>
         </ol>
         </nav> -->

         <form action="/articles/<%= article._id %>?_method=put<%= getArticleQueryString(true) %>" method="post">

            <div class="form-group">
               <!-- <label for="title">제 목</label> -->
               <input type="text" id="title" name="title" value="<%= article.title %>" class="form-control <%= (errors.title)?'is-invalid':'' %>">
               <% if(errors.title){ %>
                  <span class="invalid-feedback"><%= errors.title.message %></span>
               <% } %>
            </div>

            <div class="form-group my-2">
               <!-- <label for="content">내 용</label> -->
               <textarea id="content" name="content" rows="5" class="form-control <%= (errors.body)?'is-invalid':'' %>"><%= article.content %></textarea>
               <% if(errors.body){ %>
                  <span class="invalid-feedback"><%= errors.body.message %></span>
               <% } %>
            </div>

            <% if(errors.unhandled){ %>
               <div class="invalid-feedback b-block">
                  <%= errors.unhandled %>
               </div>
            <% } %>

            <div>
               <a class="btn btn-light border text-underline-hover" href="/articles<%= getArticleQueryString() %>">뒤로</a>
               <button type="submit" class="btn btn-light border text-underline-hover">저장</button>
            </div>

         </form>

      </div>
   </body>
</html>
