<%/*
   actionUrl
   sayYoComment
   sayYoCommentForm
   sayYoCommentError
   parentSayYoComment
*/%>

<form action="<%= actionUrl %><%= getArticleQueryString(true) %>" method="post">
   <fieldset <%= !isAuthenticated?'disabled':'' %>>
      <% if(parentSayYoComment){ %>
         <input type="hidden" name="parentSayYoComment" value="<%= parentSayYoComment %>">
      <% } %>
      <div class="row">
         <div class="col-lg-10 my-2">
            <textarea name="text" rows="1" class="form-control <%= (sayYoCommentError._id == sayYoComment._id && sayYoCommentError.parentSayYoComment == parentSayYoComment && sayYoCommentError.errors.text)?'is-invalid':'' %>"><%= (sayYoCommentForm._id == sayYoComment._id)?sayYoCommentForm.form.text:sayYoComment.text %></textarea>
         </div>
         <div class="col-lg-2 d-flex justify-content-end my-2">
            <div>
               <% if(sayYoComment._id){ %>
                     <button type="submit" class="btn btn-light border text-underline-hover me-2">저장</button>
                     <a href="javascript:void(0)" onclick="$('#comment-<%= sayYoComment._id %>').removeClass('comment-edit-enabled')"><span class="btn btn-light border text-underline-hover">취소</span></a>
                  <% } else if(parentSayYoComment) {%>
                     <button type="submit" class="btn btn-light border text-underline-hover me-2">저장</button>
                     <a href="javascript:void(0)" onclick="$('#comment-<%= parentSayYoComment %>').removeClass('comment-reply-enabled')"><span class="btn btn-light border text-underline-hover">취소</span></a>
                  <% } else { %>
                     <button type="submit" class="btn btn-light border text-underline-hover mr-2">저장</button>
               <% } %>
            </div>
         </div>
      </div>
      <% if(sayYoCommentError._id == sayYoComment._id && sayYoCommentError.parentSayYoComment == parentSayYoComment && sayYoCommentError.errors.text){ %>
         <span class="invalid-feedback d-block"><%= sayYoCommentError.errors.text.message %></span>
      <% } %>
   </fieldset>
</form>