<!doctype html>
<html lang="ko">
<head>
   <%- include('../partials/head.ejs') -%>
   <link rel="stylesheet" href="/css/lightbox.css">
   <script src="/js/lightbox-plus-jquery.js"></script>
   <style>
      * {
         /* border: red solid 1px; */
      }
   </style> 
</head>
<body>
   <%- include('../partials/nav.ejs') -%>

   <div class="container">

      <div class="col-md-8">
         <h4>WePhoto</h4>
      </div>
      
      <div class="container py-2 my-2"></div>

      <div class="container px-0 mx-0">
         <a href="/wePhotos/oledMarcomm" class="text-decoration-none text-dark"><h4 class="text-underline-hover border-bottom">OLED Marcomm</h4></a>

         <div class="container py-1 my-1"></div>

         <% if(fileName !== null && fileName.length !== 0) { %>
            <div class="container">
               <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-lg-2 row-cols-xl-4">
                  <% for(var i=0; i < fileName.length; i++) { %>
                     <a href="/photos/<%=directory%>/<%=fileName[i]%>" data-lightbox="mygallery">
                        <img src="/photos/<%=directory%>/<%=fileName[i]%>" style="max-width: 100%"></a>
                  <% }; %>
               </div>
            </div>
         <% } %>

         <div class="container py-2 my-2"></div>

         <a href="/wePhotos/companyView" class="text-decoration-none text-dark"><h4 class="text-underline-hover border-bottom">Company View</h4></a>
         <a href="/wePhotos/lgdHistory" class="text-decoration-none text-dark"><h4 class="text-underline-hover border-bottom">LGD Histor</h4></a>
         <!-- <div class="row g-2 row-cols-1 row-cols-xl-4">
            <a href="/wePhotos/oledMarcomm" class="text-decoration-none text-dark"><h5 class="">OLED Marcomm</h5></a>
            <a href="/wePhotos/companyView" class="text-decoration-none text-dark"><h5 class="text-underline-hover">Company View</h5></a>
            <a href="/wePhotos/lgdHistory" class="text-decoration-none text-dark"><h5 class="text-underline-hover">LGD History</h5></a>
         </div> -->
      </div>

      <div class="container py-2 my-2"></div>

      <% if(fileName !== null && fileName.length !== 0) { %>
         <div class="container">
            <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-lg-2 row-cols-xl-4">
               <% for(var i=0; i < fileName.length; i++) { %>
                  <a href="/photos/<%=directory%>/<%=fileName[i]%>" data-lightbox="mygallery">
                     <img src="/photos/<%=directory%>/<%=fileName[i]%>" style="max-width: 100%"></a>
               <% }; %>
            </div>
         </div>
      <% } %>

   </div>
</body>
</html>
